.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;

  .header_logo {
    color: #ffb800;
    display: flex;

    img {
      width: 51px;
      height: 44px;
      margin-right: 40px;
    }

    h1 {
      font-size: 20px;
    }
  }

  .header_cart {
    background-color: #ffb800;
    width: 125px;
    height: 32px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: darken(#ffb800, 2%);
    }
    &:active {
      background-color: darken(#ffb800, 5%);
      transform: translateY(1px);
    }

    a {
      text-decoration: none;
      color: black;
    }

    .button {
      display: inline-block;
      text-align: center;
    }
  }
}

.oboi {
  text-align: center;

  margin-top: 50px;

  img {
    width: 1230px;
  }
}

.content-top {
  display: flex;
  .categories {
    .active {
      background-color: black;
      color: #e2e2e2;
    }
    ul {
      display: flex;
      margin-left: -60px;

      li {
        font-size: 14px;
        list-style: none;
        margin-left: 20px;
        padding-top: 8px;
        background-color: #f3f3f3;
        width: 90px;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }

  .sort {
    position: relative;

    .sort_label {
      display: flex;
      align-items: center;
      margin-left: 360px;
      margin-top: 20px;

      b {
        margin-right: 8px;
      }

      span {
        cursor: pointer;
        color: #ffb800;
      }
    }

    .sort_popup {
      width: 300px;
      height: 120px;
      background-color: white;
      margin-left: 290px;
      box-shadow: 7px 17px 13px 13px rgba(34, 60, 80, 0.2);
      position: absolute;
      ul {
        padding-right: 40px;
        padding-top: 10px;
        li {
          margin-bottom: 10px;
          list-style: none;
          color: #ffb800;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: red;
          }

          &:hover {
            color: darken(#ffb800, 5%);
          }
        }
      }
    }
  }
}

h2 {
  margin-left: 100px;
}

.content_items {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;

  .burger-block {
    width: 256px;
    margin-right: 100px;
    margin-top: 50px;

    img {
      width: 256px;
      height: 276px;
    }
    h4 {
      font-size: 20px;
      text-align: center;
    }
    .burger-block__selector {
      background-color: #f3f3f3;
      width: 256px;
      height: 65px;
      border-radius: 20px;
      display: flex;

      ul {
        display: flex;
        flex: 1;
        margin-left: -40px;

        li {
          padding: 8px;
          list-style: none;
          font-size: 14px;

          text-align: center;
          flex: 1;
          cursor: pointer;

          &.active {
            background-color: white;
            border-radius: 20px;
            font-weight: 600;
          }
          &.disabled {
            opacity: 0.4;
            pointer-events: none;
          }
        }
      }
    }

    .burger-block__bottom {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;
      .burger-block__price {
        font-weight: 600;
      }
      .button--add {
        background-color: #ffb800;
        color: white;
        width: 110px;
        height: 28px;
        border-radius: 20px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ffb700c9;
        }

        &:active {
          background-color: #ffb700c9;
          transform: translateY(-1px);
        }
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.container {
  .container--cart {
    max-width: 820px;
    margin: 90px auto;

    .content__title {
      margin: 0;
    }
  }
}

.cart {
  .cart__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1100px;
    padding-left: 100px;
  }

  .content__title {
    display: flex;
    align-items: center;
    margin-left: -1200px;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: black;
        stroke-width: 1.9;
      }
    }
  }

  .cart__clear {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .cart__item {
    display: flex;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 30px;
    margin-top: 30px;

    .cart__item-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .cart__item-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    .cart__item-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      span {
        background-color: white;
        border: 1px solid #ffb800;
        color: #ffb800;
        border-radius: 20px;
        width: 20px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #ffb800;
          color: black;
        }
      }

      .cart__item-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    .cart__item-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    .cart__item-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;
      cursor: pointer;

      .button {
        background-color: white;
        border: 1px solid #ffb800;
        color: #ffb800;
        border-radius: 20px;
        width: 20px;
        text-align: center;
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: grey, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          background-color: #ffb800;
          color: black;
        }
      }
    }
  }

  .cart__bottom {
    margin: 50px 0;

    .cart__bottom-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: #ffb800;
          }
        }
      }
    }

    .cart__bottom-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        text-decoration: none;
        border-color: darken($color: grey, $amount: 10);

        span {
          color: darken($color: grey, $amount: 20);
          font-weight: 500;
          font-weight: 600;
          text-decoration: none;
        }

        &:hover {
          background-color: #ffb800;
          border-radius: 20px;

          span {
            color: grey;
          }
        }

        &:active {
          transform: translateY(-1px);
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 130px;
        padding: 16px;
        background-color: #ffb800;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          background-color: #ffb700c9;
        }

        &:active {
          background-color: #ffb700c9;
          transform: translateY(-1px);
        }
      }
    }
  }

  
}

.cart--empty {
  margin: 0 auto;
  width: 560px;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-left: -8px;
  }

  p {
    font-size: 18px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;
  }

  a{
    text-decoration: none;
  }

  img {
    display: block;
    width: 300px;
    margin: 45px auto 60px;
  }

  .button--black {
    padding: 12px 10px 14px;
    color: black;
    width: 230px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    background-color: #ffb800;
    border-radius: 20px;
    &:hover {
      background-color: #ffb700c9;
    }

    &:active {
      background-color: #ffb700c9;
      transform: translateY(-1px);
    }
  }
}